body {
    background:#ffffff;
    font-size: 16px;
    color: #666666;
    font-family: Arial, helvetica, sans-serif;
    padding: 5%;
}
h1 { color: #000000; }
h2 { color: #4d4f4f; }
h3 { color: #787a7a; }
